BOH_NEO4J_URI=neo4j+s://<aura-instance-id>.databases.neo4j.io
BOH_NEO4J_USER=<aura-instance-id>
BOH_NEO4J_PASSWORD=<password>
BOH_NEO4J_DATABASE=<aura-instance-id>
BOH_BUILDER_NAME=Ridgeline Builders
BOH_BUILDER_PHONE=
BOH_BUILDER_TIMEZONE=America/New_York
